<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<!-- base -->
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--    -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title>efrei projet</title>
    <!--     -->

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/style_base.css" %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <!--     -->

</head>
<body>
	<h2>Connexion</h2>

    {% if error %}
        <p><strong>Utilisateur inconnu ou mauvais mot de passe.</strong></p>
    {% endif %}

    {% if user.is_authenticated %}
        Vous êtes connecté, {{ user.username }} !
    {% else %}
    <form method="POST" action = ". ">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Se connecter" />
    </form>
    {% endif %}
</body>
</html>